*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#fff;
    color:#000;
}

/* HEADER */

header{
    background:#000;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
}

.logo img{
    height:70px;
    width:auto;
    display:block;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#ff0000;
}

/* BANNER */

.banner{
    width:100%;
    background:#dcdcdc;
}

.banner img{
    width:100%;
    height:450px;
    object-fit:contain;
    display:block;
}

/* SOBRE */

.sobre{
    padding:70px 10%;
    text-align:center;
}

.sobre h2{
    color:#ff0000;
    margin-bottom:25px;
    font-size:2rem;
}

.sobre p{
    max-width:1000px;
    margin:15px auto;
    line-height:1.8;
    color:#444;
}

/* PRODUTOS */

.produtos{
    background:#d0d0d0;
    padding:70px 8%;
}

.produtos h2{
    text-align:center;
    margin-bottom:40px;
    font-size:2rem;
}

.grid-produtos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
    color:#ff0000;
    font-weight:bold;
}

/* FUTURO */

.futuro{
    padding:70px 8%;
    text-align:center;
}

.futuro h2{
    margin-bottom:40px;
    color:#ff0000;
}

.futuro-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.futuro-grid div{
    background:#000;
    color:#fff;
    padding:20px;
    border-radius:10px;
    font-weight:bold;
}

/* FOOTER */

footer{
    background:#000;
    color:#fff;
    text-align:center;
    padding:30px;
}

footer p{
    margin:5px 0;
}

/* RESPONSIVIDADE */

@media(max-width:768px){

    header{
        flex-direction:column;
        height:auto;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        margin-top:15px;
    }

    .banner img{
        height:300px;
    }
}
